html, body {
    background-color: #e8b92d;
    margin: 0;
    padding: 0;
    height: 100%;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  flex: 1 0 1;
    width: 0px;
    height: 0px;
    top: 50px;
    left: 50px;
    -webkit-transition-duration: 5.5s;
    -webkit-transition-property: all;
    transition-duration: 5.5s;
    transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    text-align: center;
    background: #d1031a;
    color: white;
    border-radius: 100%;
    padding: 30px;
    margin: 100px;
    overflow: hidden;
    cursor: pointer;
    text-align: justify;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: bolder;
  }

.open {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}

.circle-text {
    font-size: 16px;
    color: black;
}

.circle-container {
    display: flex;
    width: 200px;
    height: 500px;
    margin: 0 auto; /* Center the circle container */
    align-items: center; /* Center the circle vertically */
    justify-content: center; /* Center the circle horizontally */
    flex-direction: column; /* Stack the circle and text vertically */
}